@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  color-scheme: dark;
}

html {
  scroll-behavior: smooth;
}

body {
  background: #0a0411;
  color: #ffffff;
}

/* Custom scrollbar */
::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: #0a0411;
}

::-webkit-scrollbar-thumb {
  background: #2d0a3f;
  border-radius: 5px;
}

::-webkit-scrollbar-thumb:hover {
  background: #3b0d54;
}